<form id="edit-user" method="post">
<h2>Profile</h2>
<label>First name</label>
<input type="text" id="first_name" name="first_name" value="<%= first_name %>">
<label>Last name</label>
<input type="text" id="last_name" name="last_name" value="<%= last_name %>">
<label>Email</label>
<input type="text" id="email" name="email" value="<%= email %>">
<label>Role</label>
<input type="text" id="role" name="role" value="<%= role %>">
<input type="submit" value="Save" />
</form>
