<h2>Register new talk</h2>
<% if (App.Data.authentication.get("authenticated")) { %>
	<form id="new-talk" name="talk" class="talk">
	  <div class="field">
	    <label for="title">Title</label>
	    <input type="text" name="title" id="title" value="<%= title %>">
	    <label for="title">Abstract</label>
	    <textarea type="text" name="description" id="description"><%= description %></textarea>
	  </div>

	  <div class="actions">
	    <input type="submit" value="Submit talk" class="btn-primary" />
	  	<button>Save draft</button>
	  </div>

	</form>
<% } else { %>
	To register a new talk, please sign in first.

<% } %>
