<!DOCTYPE html>
<html>
<head>
  <title>CirConference</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<%= yield %>
</div>
<div id="grayLayer" style="display: none"></div>
<div id="modal" style="display: none"></div>
</body>
</html>
