<div id="loginBox">
	<form id="login-form" method="post">
		<h2>Login</h2>
		<label>Username</label>
		<input type="text" id="username" name="username" value="<%= username %>">
		<label>Password</label>
		<input type="password" id="password" name="password" value="<%= password %>">
		<input type="submit" value="Login" class="btn-primary" />
	</form>
	or sign in with: 
	<button id="googleLogin"><div>Google</div></button>
</div>
