<div>
	<div class="userinfo">
		<% if (authentication.get("authenticated")) { %>
	    	<img src="<%= authentication.get("gravatar") %>">
			<a href="#/profile"><%= authentication.get("username") %></a>
			<a href="#/logout">Logout</a>
		<% } else { %>
			<a href="#/login">Login</a>
		<% } %>
	</div>

	<h1><a href="/#/">CirConference</a></h1>

<ul>
	<li><a href="#/talks/">Talks</a></li>
	<li><a href="#/talks/new">Suggest talk</a></li>
	<% if (App.Data.authentication.get("authenticated") && App.Data.authentication.get("role") == "admin") { %>
		<li><a href="#/admin/users/">Users</a></li>
	<% } %>

</ul>
</div>